@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <h1 class="display-4">CP5 FIAP</h1>
 
    <hr class="my-4" />

    <h2 class="mt-4">Navegação</h2>
    <div class="list-group">
        <a href="@Url.Action("Index", "Pacientes")" class="list-group-item list-group-item-action">
            Gerenciar Pacientes
        </a>
        <a href="@Url.Action("Index", "PlanosSaude")" class="list-group-item list-group-item-action">
            Gerenciar Planos de Saúde
        </a>
        <a href="@Url.Action("Index", "PacientesPlanos")" class="list-group-item list-group-item-action">
            Gerenciar Pacientes e Planos
        </a>
    </div>
</div>
