@model IEnumerable<mvc_planosaude.Models.PacientePlano>

@{
    ViewData["Title"] = "Lista de Pacientes e Planos de Saúde";
}

<h2>Pacientes e Planos de Saúde</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Novo PacientePlano</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Paciente</th>
            <th>Plano de Saúde</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pacientePlano in Model)
        {
            <tr>
                <td>@pacientePlano.Paciente?.NomeCompleto</td>
                <td>@pacientePlano.PlanoSaude?.Nome</td> 
                <td>
                    <a class="btn btn-info" asp-action="Update" asp-route-id="@pacientePlano.Id">Editar</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@pacientePlano.Id"
                       onclick="return confirm('Tem certeza que deseja excluir este pacientePlano?');">
                        Excluir
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
