@model mvc_planosaude.Models.PlanoSaude

@{
    ViewData["Title"] = "Criar Plano de Saúde";
}

<h2>Criar Plano de Saúde</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Codigo" class="control-label"></label>
            <input asp-for="Codigo" class="form-control" />
            <span asp-validation-for="Codigo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Cobertura" class="control-label"></label>
            <textarea asp-for="Cobertura" class="form-control"></textarea>
            <span asp-validation-for="Cobertura" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Criar" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
